<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 800px;
            height: auto;
            margin: 0 auto;
            margin-top: 30px;
            border: 2px solid white;
            border-radius: 20px;
            padding: 20px;
        }
    </style>
</head>

<body>
<div class="container">
    <h3>{$data["ctitle"]}</h3>
    <p>
        {$data["conts"]}
    </p>
</div>
</body>

</html>