body {
    background-color: #e7e7e7;
}

.table-con {
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}

.table-title {
    color: #003366;
    transition: color 1s ease-in;
}